@model LMS.App.Web.Models.QualificationMasterView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <script src="~/js/UserGoals.js"></script>
    <style>

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            /* border-bottom: 1px solid #dee2e6; */
            /* background-color: darkgreen; */
            color: #555;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }

        .nav-tabs > li > a {
            padding: 10px 15px;
            margin-right: 2px;
            line-height: 1.42857143;
            /*border-radius: 4px 4px 0 0;*/
            tab-size: 10%;
            /* font-size: medium; */
            background-color: #fff;
        }

        .nav-tabs {
            /* border-bottom: 1px solid #dee2e6; */
        }

        a {
            color: #337ab7;
            text-decoration: none;
        }

            a:hover {
                text-decoration: none;
            }
    </style>
</head>
<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#allusers">All Users</a></li>
            <li><a href="#activeusers">Users List</a></li>
            <li><a href="#inactiveusers">Iactive Users</a></li>

        </ul>
        <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New User</button><br /><br />
        </div>

        <div class="tab-content">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <tr>
                            <th width="10%">
                                @Html.DisplayNameFor(model => model.QualificationId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.QualificationName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Remarks)
                            </th>
                            <th>
                               Acheived
                            </th>
                            
                            <th>Action</th>
                        </tr>
                        <tbody class="tbody"></tbody>
                    </table>
                    <span id="norecords"></span>
                </div>
            </div>
    </div>
</div>
    <script>
        $(document).ready(function () {
            loadData();
            $(".nav-tabs a").click(function () {
                $(this).tab('show');
            });
            $('.nav-tabs a').on('shown.bs.tab', function (event) {
                debugger;
                // alert($(this).attr('href'));
                var tab = $(this).attr('href');
                switch (tab) {
                    case "#activeusers":
                        loadData();
                        event.preventDefault();
                        break;
                    case "#inactiveusers":
                        loadInactiveUsers();
                        event.preventDefault();
                        break;
                    default:
                        event.preventDefault();
                        break;
                }
                // loadData();
                var x = $(event.target).text();         // active tab
                var y = $(event.relatedTarget).text();  // previous tab
                $(".act span").text(x);
                $(".prev span").text(y);
            });
        });
    </script>
</body>

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">*@




@*@Html.Partial("_UserGoalsPartial", Model.Qualificationslist)*@